/*Author: Miller Kahihu and Charles Maus*/
header
{
  text-align:center;
  color: #000000;
  text-shadow: 3px 3px #323232;
}

.display
{
  text-align:center; 
}

canvas
{
  border:solid 2px #000000;
  background-color:white;
}

body 
{
 background-color: #e5e5e5;
}


